<div class="container">
   <h1>todos</h1>
   <input ng-keypress="todoManager.addResourceByEnter($event,newResource);" ng-model="newResource.value" placeholder="What needs to be done?">
   <div>
      <div ng-repeat="todo in todoManager.data track by $index">
            <input type="checkbox" ng-model="todo.check" >
               {{todo.name}}
            <button ng-click="todoManager.removeResource($index)"> X </button>
      </div>
      {{todoManager.data.length}}
   </div>
   {{todoManager.data}}
</div>
